@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body {
    /* This ensures the gradient covers the entire page */
    min-height: 100vh;
    margin: 0;

    /* The gradient effect */
    background: linear-gradient(to bottom, #112a44, #4a76a8);

    /* Attaches the background to the viewport, so it doesn't scroll with content */
    background-attachment: fixed;
}

/* [#cceeff] */
.poppins {
    font-family: Poppins;
}

/* Primary Button styling with a light blue background */
.btn-primary {
    /* Light blue background, harmonizes with the gradient */
    background-color: #cceeff;
    /* Darker text for good readability on the light button */
    color: #112a44;
    font-weight: bold;
    border: none;
    padding: 6px 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover and focus effect for the light blue button */
.btn-primary:hover,
.btn-primary:focus {
    /* Slightly darker blue on hover for subtle feedback */
    background-color: #97c4dc;
    /* Text color becomes darker for a pop */
    color: #0c1e2b;
}

.primary-color {
    color: #112a44;
}